  <html>
      <head>
        <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
       
      </head>
  <body>
    @include('includes.layout')
      <div class="container">
          <form action="/messenger2/users" method="post">
              <label for="username">type your name</label><br>
              <input type="text" name="name" placeholder="name" required=''><br>
              <button id="register" class="btn btn-primary" type="submit">
          </form>
      </div>
  </body>
  </html>